@import './../../Scss/vars.scss';

.aside{
    background-color: rgba($color: #000, $alpha: 0.65);

    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    
    width: 100vw;
    height: 100vh;

    color: #000;
    font-weight: 300;

    &__inner{
        position: relative;

        padding: 30px 15px;

        width: 300px;
        height: 100%;

        background-color: #fff;
        
        display: flex;
        flex-direction: column;   
    }
    &__close{
        position: absolute;
        top: 15px;
        right: 15px;
    }

    &__content{
        flex: 1;
    }   
    &__title{
        margin-bottom: 15px;
    }
    &__btn + &__btn{
        margin-left: 15px;
    }
    &__deletebox{
        display: inline-block;
        margin-left: 15px;
    }
    &__deletesvg{
        cursor: pointer;
        fill: #696868;
 
    }
    &__deletesvg:hover path{
        fill: #61DAFB;
    }

    &__item{
        display: flex;
        align-items: center;
        justify-content:space-between;
        border-top: 1px dashed #696868;
        border-bottom: 1px dashed #696868;
    }
}

button{
    border: 2px solid #696868;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.8);
    padding: 3px 7px;
}
button:hover{
    border: none;
    background-color: transparent;
    color: #61DAFB;
}