.product{
    border-top: 1px dashed teal;
    border-bottom: 1px dashed teal;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title{
        font-size: 18px;
    }
    &__price{
        font-size: 22px;
        font-weight: bold;
    }
    &__drop{
        cursor: pointer;
    }
    &__drop path{
        transition: fill .3s;
    }
    &__drop:hover path{
        fill: #61DAFB;
    }
}