@import './../../Scss/vars.scss';   

.footer{
    margin-top: 15px;
    background-color: $bg-color;

    color: #fff;
    font-weight: 400;
    font-size: 20px;

    &__inner{
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 10px 0;
    }
    &__text span{
        color: $react-blue;
    }
}